In [1]:
import datetime as datetime
import pandas as pd
import numpy as np
import csv 
import re
import matplotlib.pyplot as plt
from IPython.display import Image

import pyspark

try: 
    type(sc)
except NameError:
    sc = pyspark.SparkContext('local[*]')

In [2]:
df = pd.read_csv('Sources/fiuba_6_avisos_detalle_concat.csv', delimiter=',')
descripcion = pd.read_csv('onehotencoder.csv', delimiter=',')

In [3]:
df = df[['idaviso']]

In [4]:
from sklearn.cluster import KMeans

In [5]:
kmeans = KMeans(n_clusters=20)

In [6]:
kmeans = kmeans.fit(descripcion)

In [7]:
labels = kmeans.predict(descripcion)

In [8]:
centroids = kmeans.cluster_centers_

In [9]:
labels

array([10, 10, 10, ...,  3,  3,  3], dtype=int32)

In [10]:
df['cluster'] = pd.Series(labels)

In [13]:
df.sample(50)

          idaviso  cluster
15879  1112203898        6
3864   1112356063        5
22997  1112506400       11
16674  1112337085       13
14671  1112199336       12
8158   1112241179        2
12229  1112387164       14
5268   1112295887       15
20627  1112478609       17
17519  1112274088       13
12687  1111995608        4
6420   1112299770        9
18197  1112211048        1
10478  1112315117        8
4267   1112357691        5
10769  1112447225        8
3034   1112353121       18
4458   1112423698        5
24142  1112132307        3
2047   1112349552        0
12901  1112454800        4
17678  1112471131       13
21517  1112487387        7
24419  1112450700        3
7074   1112367881        9
2859   1112417951       18
11149  1112448303        8
15662  1112268639        6
3008   1112418578       18
12307  1112387453       14
8153   1112437852        2
17925  1112406572        1
9739   1112247038       16
1371   1112412533        0
20484  1112476923       17
10151  1112313896        8
17932  1112341132        1
3275   1112288411       18
4194   1112291819        5
23543  1112514047       11
20786  1112480731       17
14605  1112264484       12
2940   1112418341       18
12093  1112452192       14
7627   1112304534        2
14170  1112393838       12
19941  1111295227       19
565    1112344496       10
13533  1112260470        4
20882  1112482422       17

In [14]:
df.to_csv('idaviso-cluster.csv')

In [16]:
centroids.shape

(20, 47750)

In [17]:
type(centroids)

numpy.ndarray

In [18]:
df2 = pd.DataFrame(centroids)

In [20]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,47740,47741,47742,47743,47744,47745,47746,47747,47748,47749
0,1879.5,0.003987,1.973248e-17,6.017322e-18,4.282599e-18,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,...,7.521653e-19,1.382358e-18,7.521653e-19,1.504331e-18,3.008661e-18,7.521653e-19,1.504331e-18,1.504331e-18,7.521653e-19,7.521653e-19
1,18319.5,0.003145,1.994932e-17,6.071532e-18,4.309704e-18,7.589415e-19,7.589415e-19,7.589415e-19,7.589415e-19,7.589415e-19,...,7.589415e-19,1.423015e-18,7.589415e-19,1.517883e-18,3.035766e-18,7.589415e-19,1.517883e-18,1.517883e-18,7.589415e-19,7.589415e-19
2,8171.0,0.002375,1.583531e-03,6.017322e-18,4.282599e-18,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,...,7.521653e-19,7.917656e-04,7.521653e-19,1.504331e-18,3.008661e-18,7.521653e-19,1.504331e-18,1.504331e-18,7.521653e-19,7.917656e-04
3,24656.0,0.001584,2.375297e-03,6.017322e-18,4.282599e-18,7.521653e-19,7.521653e-19,7.917656e-04,7.521653e-19,7.521653e-19,...,7.521653e-19,1.395910e-18,7.521653e-19,1.504331e-18,7.917656e-04,7.521653e-19,1.504331e-18,1.504331e-18,7.521653e-19,7.521653e-19
4,13236.0,0.003152,2.364066e-03,6.017322e-18,4.309704e-18,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,7.521653e-19,...,7.880221e-04,1.409463e-18,7.521653e-19,1.504331e-18,3.008661e-18,7.521653e-19,7.880221e-04,1.504331e-18,7.521653e-19,7.521653e-19

In [21]:
df2.to_csv('centroides.csv')