In [8]:
import pandas as pd

In [9]:
postulantes_edu = pd.read_csv('Sources/fiuba_1_postulantes_educacion_concat.csv')
postulantes_gen = pd.read_csv('Sources/fiuba_2_postulantes_genero_y_edad_concat.csv')
postulantes_edu.drop(['Unnamed: 0'],axis=1,inplace=True)
postulantes_edu.rename(columns={'nombre':'estudio'},inplace=True)
postulantes_gen.drop(['Unnamed: 0'],axis=1,inplace=True)
postulantes_edu.head()

  idpostulante        estudio    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [13]:
estudios = pd.get_dummies(postulantes_edu['estado']).columns
#for col in estudios.columns:
#    estudios.loc[estudios.loc[:,col]==1,col] = postulantes_edu.loc[estudios.loc[:,col]==1,'estado']
estudios

Index(['Abandonado', 'En Curso', 'Graduado'], dtype='object')

In [7]:
def set_level(row):
    lista_de_niveles = ['Secundario','Otro','Terciario/TÃ©cnico','Universitario','Posgrado','Master','Doctorado']
    lista_de_estados = ['Abandonado', 'En Curso', 'Graduado']
    x = 1 
    for niveles in lista_de_niveles:
        if row[1]==nivel:
            for estado in lista_de_estados:
                if row[2]==estado:
                    return x
                x+=1
        x+=1

2
3
4
5