In [1]:
import pandas as pd

In [2]:
visitas = pd.read_csv('Sources/fiuba_3_vistas_concat.csv').drop(['Unnamed: 0','timestamp'], axis=1)

In [3]:
visitas['visito'] = 1

In [4]:
visitas.head()

      idAviso idpostulante  visito
0  1112400775      kPjr2K0       1
1  1112400775      kPjr2K0       1
2  1112426664      GNOwZmb       1
3  1112426664      GNOwZmb       1
4  1112445738      lDLxajz       1

In [5]:
visitas.rename(columns={'idAviso':'idaviso'}, inplace=True)
groups = visitas.groupby(['idpostulante','idaviso']).sum()

In [6]:
groups = groups.reset_index()
groups.head()

  idpostulante  idaviso  visito
0        0002q  1789742       4
1        0002q  1807692       6
2        0002q  1808090       5
3        0005E  1744005       3
4        0005E  1785430       2

In [7]:
groups.to_csv('Sources/visitas_proc.csv')