In [1]:
import pandas as pd

In [2]:
postulantes_gen = pd.read_csv('Sources/fiuba_2_postulantes_genero_y_edad_concat.csv')
visitas = pd.read_csv('Sources/fiuba_3_vistas_concat.csv')
detalse = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv')

In [3]:
visitas.head()
visitas = visitas.drop(['Unnamed: 0','timestamp'], axis=1)
visitas.head()

      idAviso idpostulante
0  1111780242      YjVJQ6Z
1  1112263876      BmVpYoR
2  1112327963      wVkBzZd
3  1112318643      OqmP9pv
4  1111903673      DrpbXDP