In [12]:
import pandas as pd
from sklearn import preprocessing

In [13]:
postulaciones = pd.read_csv('Sources/postulaciones_for_training.csv').drop('Unnamed: 0', axis=1)

In [14]:
postulantes = pd.read_csv('Sources/postulantes_proc.csv').drop('Unnamed: 0', axis=1)
avisos = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv').drop('Unnamed: 0', axis=1)
test = pd.read_csv('Sources/test_final_100k.csv')
visitas = pd.read_csv('Sources/visitas_proc.csv')
preds = pd.DataFrame()

In [15]:
postulaciones = postulaciones.merge(postulantes, on='idpostulante')
postulaciones = postulaciones.merge(avisos, on='idaviso')
postulaciones = postulaciones.merge(visitas, on=['idaviso','idpostulante'], how='left')
resultados = postulaciones['sepostulo']
postulaciones.drop(['titulo','descripcion','idaviso','idpostulante','sepostulo'],axis=1, inplace=True)
postulaciones.head()

,Unnamed: 0.1,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,NO_DECLARA,TendenciaSexo,prom_edad,Unnamed: 0,visito
0,177374,29.0,FEM,5,Part-time,Junior,Administración,ENRIQUE MEYRIALLE &amp; ASOC.,178.0,61.0,75.0,1.0,NaN,26.095588,NaN,NaN
1,447085,20.0,FEM,11,Part-time,Junior,Administración,ENRIQUE MEYRIALLE &amp; ASOC.,178.0,61.0,75.0,1.0,NaN,26.095588,NaN,NaN
2,145390,38.0,MASC,3,Part-time,Junior,Administración,ENRIQUE MEYRIALLE &amp; ASOC.,178.0,61.0,75.0,1.0,NaN,26.095588,NaN,NaN
3,460866,NaN,NO_DECLARA,-1,Part-time,Junior,Administración,ENRIQUE MEYRIALLE &amp; ASOC.,178.0,61.0,75.0,1.0,NaN,26.095588,NaN,NaN
4,358106,22.0,FEM,5,Part-time,Junior,Administración,ENRIQUE MEYRIALLE &amp; ASOC.,178.0,61.0,75.0,1.0,NaN,26.095588,NaN,NaN

In [ ]:
postulaciones.drop(['Unnamed: 0.1'],axis=1,inplace=True)

In [ ]:
visitas.head()

In [ ]:
test = test.merge(postulantes, on='idpostulante')
test = test.merge(avisos, on='idaviso')
test = test.merge(visitas, on=['idaviso','idpostulante'], how='left')
test.drop(['titulo','descripcion','idaviso','idpostulante','id'],axis=1, inplace=True)
test.head()

In [ ]:
test.drop(['Unnamed: 0.1'],axis=1,inplace=True)

In [6]:
test = pd.concat([test,postulaciones])

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in test.columns:
    if not postulaciones[col].dtype == 'O': continue
    test[col] = test[col].fillna('na')
    le.fit(test[col])
    test[col] = le.transform(test[col])

In [8]:
postulaciones = test[100000:].fillna(-1)
test = test[:100000].fillna(-1)

In [9]:
partitions = []
partitions_res = []
n = 5
index = int(postulaciones.shape[0]/n)
for i in range(n):
    partitions.append(postulaciones[index*i:index*(i+1)])
    partitions_res.append(resultados[index*i:index*(i+1)])

In [10]:
def proba(result):
    prob_1 = []
    for x in result:
        prob_1.append(x[1])
    return prob_1

In [11]:
print('Arranca XG')

aviso = None
postulantes = None
import xgboost as xgb
dtrain = xgb.DMatrix(data=partitions[0],label=partitions_res[0])
dtest = xgb.DMatrix(data=partitions[4])

print('Termino XG')

Arranca XG
Termino XG

In [13]:
param = {'max_depth':15, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)

IndexError: invalid index to scalar variable.

In [14]:
preds['xgb'] = bst.predict(dtest)

In [15]:
print('Arranca RF')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clf=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clf.fit(partitions[1],partitions_res[1])
preds['RF'] = proba(clf.predict_proba(partitions[4]))

print('Termino RF')

Arranca RF
Termino RF

In [16]:
print('Arranca NB')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(partitions[2] ,partitions_res[2])
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
preds['NB'] = proba(nb.predict_proba(partitions[4]))

print('Termino NB')

Arranca NB
Termino NB

In [17]:
print('Arranca KNN')

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=25 ,n_jobs=-1, algorithm='auto')
neigh.fit(partitions[3], partitions_res[3])
preds['KNN'] = proba(neigh.predict_proba(partitions[4]))

print('Termino NB')

Arranca KNN
Termino NB

In [18]:
preds.to_csv('Sources/predicciones.csv')

In [19]:
print('Arranca PERCEPTRON')
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(preds, partitions_res[4])
#from sklearn import svm
#clf = svm.SVC()
#clf.fit(preds, partitions_res[4])

print('PERCEPTRON ya esta entrenado')

Arranca PERCEPTRON
PERCEPTRON ya esta entrenado

In [20]:
preds.head()

        xgb    RF        NB   KNN
0  0.108474  0.24  0.562943  0.08
1  0.730141  0.84  0.605802  0.60
2  0.989302  0.76  0.605802  0.40
3  0.325601  0.84  0.605802  0.64
4  0.798988  0.72  0.605802  0.72

In [21]:
print('Arranca XGB final')

aviso = None
postulantes = None
import xgboost as xgb
dtrain = xgb.DMatrix(data=postulaciones, label=resultados)
dtest = xgb.DMatrix(data=test)
param = {'max_depth':15, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)

Arranca XGB final

In [22]:
final = pd.DataFrame()

In [24]:
final['xgb'] = bst.predict(dtest)

print('Termino XGB final')

Termino XGB final

In [27]:
print('Arranca RF final')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clfr=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clfr.fit(postulaciones,resultados)
final['RF'] = proba(clfr.predict_proba(test))

print('Termino RF final')

Arranca RF final
Termino RF final

In [26]:
test

,Unnamed: 0.1,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,NO_DECLARA,TendenciaSexo,prom_edad
0,69266,42.0,1,21,1,1,30,456,45.0,-1.0,-1.0,-1.0,2,-1.0
1,83910,31.0,2,9,1,1,30,456,45.0,-1.0,-1.0,-1.0,2,-1.0
2,351736,36.0,1,12,1,1,30,456,45.0,-1.0,-1.0,-1.0,2,-1.0
3,15447,69.0,2,15,1,3,170,3864,214.0,-1.0,-1.0,-1.0,2,-1.0
4,138590,32.0,1,11,1,3,170,3864,214.0,-1.0,-1.0,-1.0,2,-1.0
5,99584,28.0,2,10,1,3,170,3864,214.0,-1.0,-1.0,-1.0,2,-1.0
6,304578,29.0,2,12,1,3,40,3036,123.0,-1.0,-1.0,-1.0,2,-1.0
7,206910,54.0,2,6,1,3,40,3036,123.0,-1.0,-1.0,-1.0,2,-1.0
8,340918,28.0,1,12,1,3,40,3036,123.0,-1.0,-1.0,-1.0,2,-1.0
9,70812,38.0,2,15,4,3,154,2466,113.0,-1.0,-1.0,-1.0,2,-1.0
10,24950,31.0,1,3,4,3,154,2466,113.0,-1.0,-1.0,-1.0,2,-1.0
11,292635,39.0,1,15,4,3,154,2466,113.0,-1.0,-1.0,-1.0,2,-1.0
12,202570,28.0,1,3,4,3,154,2466,113.0,-1.0,-1.0,-1.0,2,-1.0
13,73049,46.0,2,5,1,3,170,193,183.0,-1.0,-1.0,-1.0,2,-1.0
14,87139,37.0,1,6,1,3,170,193,183.0,-1.0,-1.0,-1.0,2,-1.0
15,340919,35.0,1,10,1,3,170,193,183.0,-1.0,-1.0,-1.0,2,-1.0
16,72135,42.0,1,11,1,3,154,1178,118.0,-1.0,-1.0,-1.0,2,-1.0
17,100454,32.0,1,12,1,3,154,1178,118.0,-1.0,-1.0,-1.0,2,-1.0
18,63881,41.0,1,12,1,3,154,1178,118.0,-1.0,-1.0,-1.0,2,-1.0
19,282781,38.0,1,3,1,3,154,1178,118.0,-1.0,-1.0,-1.0,2,-1.0
20,342376,34.0,1,5,4,3,112,1803,35.0,-1.0,-1.0,-1.0,2,-1.0
21,143008,35.0,1,11,4,3,112,1803,35.0,-1.0,-1.0,-1.0,2,-1.0
22,304363,34.0,2,3,4,3,112,1803,35.0,-1.0,-1.0,-1.0,2,-1.0
23,202314,32.0,2,11,2,3,26,3845,29.0,-1.0,-1.0,-1.0,2,-1.0
24,69883,38.0,2,18,2,3,26,3845,29.0,-1.0,-1.0,-1.0,2,-1.0
25,205396,53.0,2,12,2,3,26,3845,29.0,-1.0,-1.0,-1.0,2,-1.0
26,451270,31.0,2,-1,2,3,185,3589,4.0,-1.0,-1.0,-1.0,2,-1.0
27,342382,43.0,1,15,2,3,185,3589,4.0,-1.0,-1.0,-1.0,2,-1.0
28,282871,47.0,2,11,2,3,185,3589,4.0,-1.0,-1.0,-1.0,2,-1.0
29,297206,40.0,1,12,1,3,112,938,35.0,-1.0,-1.0,-1.0,2,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,143356,32.0,1,12,1,4,2,205,223.0,-1.0,-1.0,-1.0,2,-1.0
99971,297136,48.0,1,14,1,4,2,205,223.0,-1.0,-1.0,-1.0,2,-1.0
99972,280551,35.0,2,12,1,4,2,205,223.0,-1.0,-1.0,-1.0,2,-1.0
99973,99645,28.0,1,15,1,4,170,2109,150.0,-1.0,-1.0,-1.0,2,-1.0
99974,48861,42.0,1,15,1,4,170,2109,150.0,-1.0,-1.0,-1.0,2,-1.0
99975,304582,34.0,1,15,1,4,170,2109,150.0,-1.0,-1.0,-1.0,2,-1.0
99976,341565,33.0,1,6,1,4,32,401,94.0,-1.0,-1.0,-1.0,2,-1.0
99977,204582,32.0,1,11,1,4,32,401,94.0,-1.0,-1.0,-1.0,2,-1.0
99978,451424,62.0,2,-1,1,4,32,401,94.0,-1.0,-1.0,-1.0,2,-1.0
99979,87177,38.0,1,12,5,4,156,1435,196.0,-1.0,-1.0,-1.0,2,-1.0
99980,293355,38.0,1,6,5,4,156,1435,196.0,-1.0,-1.0,-1.0,2,-1.0
99981,202100,29.0,1,10,5,4,156,1435,196.0,-1.0,-1.0,-1.0,2,-1.0
99982,145920,41.0,2,12,1,4,4,2959,47.0,-1.0,-1.0,-1.0,2,-1.0
99983,304583,30.0,1,12,1,4,4,2959,47.0,-1.0,-1.0,-1.0,2,-1.0
99984,99563,35.0,1,12,1,4,4,2959,47.0,-1.0,-1.0,-1.0,2,-1.0
99985,350612,31.0,1,12,1,4,30,922,87.0,-1.0,-1.0,-1.0,2,-1.0
99986,87138,34.0,1,12,1,4,30,922,87.0,-1.0,-1.0,-1.0,2,-1.0
99987,281421,34.0,2,6,1,4,30,922,87.0,-1.0,-1.0,-1.0,2,-1.0
99988,267145,-1.0,3,3,1,4,33,3260,128.0,-1.0,-1.0,-1.0,2,-1.0
99989,204581,31.0,1,3,1,4,33,3260,128.0,-1.0,-1.0,-1.0,2,-1.0
99990,297208,37.0,1,15,1,4,33,3260,128.0,-1.0,-1.0,-1.0,2,-1.0
99991,293357,32.0,1,11,1,4,117,3128,55.0,-1.0,-1.0,-1.0,2,-1.0
99992,206908,47.0,1,12,1,4,117,3128,55.0,-1.0,-1.0,-1.0,2,-1.0
99993,54377,32.0,1,3,1,4,117,3128,55.0,-1.0,-1.0,-1.0,2,-1.0
99994,280549,42.0,1,10,1,2,141,4033,7.0,-1.0,-1.0,-1.0,2,-1.0
99995,54379,40.0,2,12,1,2,141,4033,7.0,-1.0,-1.0,-1.0,2,-1.0
99996,297207,39.0,1,12,1,2,141,4033,7.0,-1.0,-1.0,-1.0,2,-1.0
99997,206911,41.0,1,10,3,3,138,2595,70.0,-1.0,-1.0,-1.0,2,-1.0
99998,304581,32.0,1,11,3,3,138,2595,70.0,-1.0,-1.0,-1.0,2,-1.0
99999,99559,45.0,2,3,3,3,138,2595,70.0,-1.0,-1.0,-1.0,2,-1.0

In [ ]:
print('Arranca NB final')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(postulaciones, resultados)
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
final['NB'] = proba(nb.predict_proba(test))

print('Termino NB final')

Arranca NB final

In [29]:
print('Arranca KNN final')

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=25 ,n_jobs=-1, algorithm='auto')
neigh.fit(postulaciones,resultados)
final['KNN'] = proba(neigh.predict_proba(test))

print('Termino KNN final')

Arranca KNN final
Termino KNN final

In [30]:
final.head()

            xgb   RF            NB  KNN
0  8.512726e-10  0.0  1.850918e-13  0.0
1  2.429953e-07  0.0  1.850918e-13  0.0
2  5.409165e-08  0.0  1.850918e-13  0.0
3  6.914397e-10  0.0  1.850918e-13  0.0
4  9.982956e-10  0.0  1.850918e-13  0.0

In [31]:
print('Predigo con AdaBoost')

resultado = clf.predict(final)

print('termino Adaboost')

Predigo con AdaBoost
termino Adaboost

In [32]:
resultado

array([0., 0., 0., ..., 0., 0., 0.])

In [33]:
test = pd.read_csv('Sources/test_final_100k.csv')
test['sepostulo'] = resultado
test.drop(['idaviso','idpostulante'],axis=1,inplace=True)
test.to_csv('Sources/resultados_pipe_fede.csv', index=False)

In [34]:
resultado[resultado == 1 ].shape

(58329,)

print('Arranca XG Final')
import xgboost as xgb
# read in data
dtrain = xgb.DMatrix(postulaciones,label=resultados)
# specify parameters via map
param = {'max_depth':50, 'eta':1, 'silent':1, 'objective':'multi:softmax','num_class':3, 'subsample':1}
num_round = 50
bst = xgb.train(param, dtrain, num_round)
print('Termino XG Final')

print('Arranca RF Final')
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#X_train, X_test, y_train, y_test = train_test_split(postulaciones, resultado, test_size=0.2)
clf=RandomForestClassifier(n_estimators=50,n_jobs=-1,warm_start=True,criterion='entropy')
clf.fit(postulaciones,resultados)
print('Termino RF Final')

preds = pd.DataFrame()
dtest = xgb.DMatrix(data=test)
preds['xg'] = bst.predict(dtest)
preds['ran']=clf.predict(test)
pred = nb.predict(preds)

test = pd.read_csv('Sources/test_final_100k.csv')
test['sepostulo'] = pred
test.drop(['idaviso','idpostulante'],axis=1,inplace=True)
test.to_csv('Sources/resultados_pipe.csv', index=False)

    "from sklearn.neighbors import KNeighborsClassifier\n",
    "neigh = KNeighborsClassifier(n_neighbors=25 ,n_jobs=-1, algorithm='auto')\n",
    "neigh.fit(=partitions[3], partitions_res[3])\n",
    "knn_result = neigh.predict_proba(partitions[4])"

    "import xgboost as xgb\n",
    "# read in data\n",
    "dtrain = xgb.DMatrix(data=partitions[0],label=partitions_res[0])\n",
    "dtest = xgb.DMatrix(data=partitions[4])\n",
    "# specify parameters via map\n",
    "param = {'max_depth':50, 'eta':1, 'silent':1, 'objective':'multi:softmax','num_class':3, 'subsample':1}\n",
    "num_round = 50\n",
    "bst = xgb.train(param, dtrain, num_round)\n",
    "# make prediction\n",

    "preds['xgb'] = bst.predict_proba(dtest)"