In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [44]:
postulaciones = pd.read_csv('Sources/postulaciones_visitas.csv').drop('Unnamed: 0', axis=1)

In [41]:
postulantes = pd.read_csv('Sources/postulantes_proc.csv').drop('Unnamed: 0', axis=1)
avisos = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv').drop('Unnamed: 0', axis=1)
test = pd.read_csv('Sources/test_final_100k.csv')
visitas = pd.read_csv('Sources/visitas_proc.csv').drop('Unnamed: 0', axis=1)
preds = pd.DataFrame()

In [45]:
postulaciones = postulaciones.merge(postulantes, on='idpostulante')
postulaciones = postulaciones.merge(avisos, on='idaviso')
#postulaciones = postulaciones.merge(visitas, on=['idaviso','idpostulante'], how='left')
resultados = postulaciones['sepostulo']
postulaciones.drop(['titulo','descripcion','idaviso','idpostulante','sepostulo'],axis=1, inplace=True)
postulaciones.head()

,visito,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,...,NO_DECLARA,TendenciaSexo,prom_edad,sabados,domingos,ingles,3 anos,2 anos,4 anos,5 anos
0,2.168527,37.0,FEM,12,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,5.0,125.0,...,0.0,FEM,30.251142,0,0,0,0,0,0,0
1,2.168527,27.0,MASC,11,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,5.0,125.0,...,0.0,FEM,30.251142,0,0,0,0,0,0,0
2,2.168527,33.0,FEM,12,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,5.0,125.0,...,0.0,FEM,30.251142,0,0,0,0,0,0,0
3,2.168527,33.0,FEM,12,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,5.0,125.0,...,0.0,FEM,30.251142,0,0,0,0,0,0,0
4,2.168527,26.0,FEM,12,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,5.0,125.0,...,0.0,FEM,30.251142,0,0,0,0,0,0,0

In [42]:
test = test.merge(postulantes, on='idpostulante')
test = test.merge(avisos, on='idaviso')
test = test.merge(visitas, on=['idaviso','idpostulante'], how='left')
test.drop(['titulo','descripcion','idaviso','idpostulante','id'],axis=1, inplace=True)
test.head()

,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,...,TendenciaSexo,prom_edad,sabados,domingos,ingles,3 anos,2 anos,4 anos,5 anos,visito
0,42.0,FEM,21,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102.0,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
1,31.0,MASC,9,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102.0,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
2,36.0,FEM,12,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102.0,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
3,69.0,MASC,15,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27.0,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
4,32.0,FEM,11,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27.0,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN

In [6]:
postulaciones, test, resultados, resultados_test = train_test_split(postulaciones, resultados, test_size=0.2)
indice = test.shape[0]

NameError: name 'teset' is not defined

In [53]:
import numpy as np

In [54]:
test = pd.concat([test,postulaciones])

In [55]:
test['fechanacimiento'].fillna(np.nanmean(test['fechanacimiento']),inplace=True)
test['FEM'].fillna(np.nanmean(test['FEM']),inplace=True)
test['MASC'].fillna(np.nanmean(test['MASC']),inplace=True)
test['NO_DECLARA'].fillna(np.nanmean(test['NO_DECLARA']),inplace=True)
test['prom_edad'].fillna(np.nanmean(test['prom_edad']),inplace=True)
test['FEM'].fillna(np.nanmean(test['FEM']),inplace=True)
lista = ['sabados', 'domingos','ingles', '3 anos', '2 anos', '4 anos', '5 anos', 'visito']
for i in lista:
    test[i].fillna(0,inplace=True)

In [56]:
test.head()

,2 anos,3 anos,4 anos,5 anos,FEM,MASC,NO_DECLARA,TendenciaSexo,cluster,denominacion_empresa,...,fechanacimiento,ingles,nivel,nivel_laboral,nombre_area,prom_edad,sabados,sexo,tipo_de_trabajo,visito
0,0,0,0,0,1286.369363,752.736986,29.780158,NaN,102.0,BUMERAN.COM ARGENTINA,...,42.0,1,21,Jefe / Supervisor / Responsable,Comercial,29.90184,0,FEM,Full-time,0.0
1,0,0,0,0,1286.369363,752.736986,29.780158,NaN,102.0,BUMERAN.COM ARGENTINA,...,31.0,1,9,Jefe / Supervisor / Responsable,Comercial,29.90184,0,MASC,Full-time,0.0
2,0,0,0,0,1286.369363,752.736986,29.780158,NaN,102.0,BUMERAN.COM ARGENTINA,...,36.0,1,12,Jefe / Supervisor / Responsable,Comercial,29.90184,0,FEM,Full-time,0.0
3,0,0,0,0,1286.369363,752.736986,29.780158,NaN,27.0,TeleTech,...,69.0,0,15,Otro,Tecnologia / Sistemas,29.90184,0,MASC,Full-time,0.0
4,0,0,0,0,1286.369363,752.736986,29.780158,NaN,27.0,TeleTech,...,32.0,0,11,Otro,Tecnologia / Sistemas,29.90184,0,FEM,Full-time,0.0

In [57]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in test.columns:
    if not test[col].dtype == 'O': continue
    test[col] = test[col].fillna('na')
    le.fit(test[col])
    test[col] = le.transform(test[col])

In [60]:

postulaciones = test[100000:].fillna(-1)
test = test[:100000].fillna(-1)

In [61]:
postulaciones.shape

(2313412, 21)

In [62]:
test.shapetest.rename(columns={x:int(y) for x,y in zip(test.columns,range(1,len(test.columns)+1))},inplace=True)

(100000, 21)

In [64]:
test.rename(columns={x:int(y) for x,y in zip(test.columns,range(1,len(test.columns)+1))},inplace=True)

In [18]:
partitions = []
partitions_res = []
n = 5
index = int(postulaciones.shape[0]/n)
for i in range(n):
    partitions.append(postulaciones[index*i:index*(i+1)])
    partitions_res.append(resultados[index*i:index*(i+1)])

In [19]:
aviso = None
postulantes = None
visitas = None

In [20]:
def proba(result):
    prob_1 = []
    for x in result:
        prob_1.append(x[1])
    return prob_1

In [21]:
print('Arranca XG')

import xgboost as xgb
dtrain = xgb.DMatrix(data=partitions[0],label=partitions_res[0])
dtest = xgb.DMatrix(data=partitions[4])
param = {'max_depth':20, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)
preds['xgb'] = bst.predict(dtest)

print('Termino XG')

Arranca XG
Termino XG

In [22]:
print('Arranca RF')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clf=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clf.fit(partitions[1],partitions_res[1])
preds['RF'] = proba(clf.predict_proba(partitions[4]))

print('Termino RF')

Arranca RF
Termino RF

In [23]:
print('Arranca NB')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(partitions[2] ,partitions_res[2])
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
preds['NB'] = proba(nb.predict_proba(partitions[4]))

print('Termino NB')

Arranca NB
Termino NB

In [24]:
print('Arranca PERCEPTRON')
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(partitions[3], partitions_res[3])
preds['PERCEPTRON'] = proba(clf.predict_proba(partitions[4]))
#from sklearn import svm
#clf = svm.SVC()
#clf.fit(preds, partitions_res[4])

print('PERCEPTRON ya esta entrenado')

Arranca PERCEPTRON
PERCEPTRON ya esta entrenado

In [25]:
preds.to_csv('Sources/predicciones.csv')

In [26]:
print('Arranca KNN')

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=25 ,n_jobs=-1, algorithm='auto')
neigh.fit(preds, partitions_res[4])

print('Termino KNN')

Arranca KNN
Termino KNN

In [27]:
preds.head()

        xgb    RF        NB  PERCEPTRON
0  1.000000  1.00  0.646800     0.68901
1  0.999999  1.00  0.594303     0.68901
2  0.521028  0.16  0.646800     0.68901
3  0.000013  0.00  0.510778     0.68901
4  0.999998  1.00  0.646800     0.68901

In [28]:
final = pd.DataFrame()
test_final = pd.read_csv('Sources/test_final_100k.csv')['id']

In [29]:
print('Arranca XGB final')

aviso = None
postulantes = None
import xgboost as xgb
dtrain = xgb.DMatrix(data=postulaciones, label=resultados)
dtest = xgb.DMatrix(data=test)
param = {'max_depth':20, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)
final['xgb'] = bst.predict(dtest)

print('Termino XGB final')

Arranca XGB final
Termino XGB final

In [30]:
test_final['sepostulo'] = final['xgb']
test_final.to_csv('Sources/1.csv',index=False)

In [31]:
print('Arranca RF final')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clfr=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clfr.fit(postulaciones,resultados)
final['RF'] = proba(clfr.predict_proba(test))

print('Termino RF final')

Arranca RF final
Termino RF final

In [32]:
test_final['sepostulo'] = final['RF']
test_final.to_csv('Sources/2.csv',index=False)

In [33]:
print('Arranca NB final')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(postulaciones, resultados)
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
final['NB'] = proba(nb.predict_proba(test))

print('Termino NB final')

Arranca NB final
Termino NB final

In [34]:
test_final['sepostulo'] = final['NB']
test_final.to_csv('Sources/3.csv',index=False)

In [35]:
print('Arranca PPERCEPTRON final')
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(postulaciones, resultados)
final['PERCEPTRON'] = proba(clf.predict_proba(test))

print('Termino PERCEPTRON final')

Arranca PPERCEPTRON final
Termino PERCEPTRON final

In [36]:
test_final['sepostulo'] = final['PERCEPTRON']
test_final.to_csv('Sources/4.csv',index=False)

In [37]:
final.head()

        xgb        RF        NB  PERCEPTRON
0  0.179141  0.040000  0.646304    0.688793
1  0.085157  0.105378  0.646304    0.688793
2  0.755860  0.794220  0.781763    0.688793
3  1.000000  1.000000  0.529852    0.688793
4  0.644241  0.674740  0.781763    0.688793

In [39]:
print('Predigo con KNN')

resultado = neigh.predict(final)

print('termino KNN')

Predigo con KNN
termino KNN

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(resultados_test, resultado)

0.8547736565493169

In [50]:
resultados = pd.DataFrame()
resultados['resultado'] = resultado

In [52]:
resultados_test.to_csv('Sources/resultados_test_prueba')
resultados.to_csv('Sources/resultado_prueba')

In [65]:
dtest = xgb.DMatrix(data=test)
final['xgb'] = bst.predict(dtest)
final['RF'] = proba(clfr.predict_proba(test))
final['NB'] = proba(nb.predict_proba(test))
final['PERCEPTRON'] = proba(clf.predict_proba(test))
resultado = neigh.proba(predict_proba(final))

ValueError: feature_names mismatch: ['visito', 'fechanacimiento', 'sexo', 'nivel', 'tipo_de_trabajo', 'nivel_laboral', 'nombre_area', 'denominacion_empresa', 'cluster', 'FEM', 'MASC', 'NO_DECLARA', 'TendenciaSexo', 'prom_edad', 'sabados', 'domingos', 'ingles', '3 anos', '2 anos', '4 anos', '5 anos'] ['1 ', '2 ', '3 ', '4 ', '5 ', '6 ', '7 ', '8 ', '9 ', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']
expected 3 anos, 5 anos, denominacion_empresa, fechanacimiento, nivel, NO_DECLARA, sabados, 4 anos, prom_edad, sexo, tipo_de_trabajo, FEM, TendenciaSexo, visito, 2 anos, nivel_laboral, MASC, ingles, nombre_area, domingos, cluster in input data
training data did not have the following fields: 16, 13, 4 , 9 , 14, 6 , 10, 19, 21, 2 , 17, 8 , 12, 15, 20, 7 , 1 , 18, 11, 3 , 5

In [ ]:
test = pd.read_csv('Sources/test_final_100k.csv')
test['sepostulo'] = resultado
test.drop(['idaviso','idpostulante'],axis=1,inplace=True)
test.to_csv('Sources/resultado_final_pipe.csv', index=False)

In [66]:
test.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,0,0,0,0,1286.369363,752.736986,29.780158,2,102.0,465,...,42.0,1,21,1,30,29.90184,0,1,1,0.0
1,0,0,0,0,1286.369363,752.736986,29.780158,2,102.0,465,...,31.0,1,9,1,30,29.90184,0,2,1,0.0
2,0,0,0,0,1286.369363,752.736986,29.780158,2,102.0,465,...,36.0,1,12,1,30,29.90184,0,1,1,0.0
3,0,0,0,0,1286.369363,752.736986,29.780158,2,27.0,3890,...,69.0,0,15,3,170,29.90184,0,2,1,0.0
4,0,0,0,0,1286.369363,752.736986,29.780158,2,27.0,3890,...,32.0,0,11,3,170,29.90184,0,1,1,0.0