In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [2]:
postulaciones = pd.read_csv('Sources/postulaciones_for_training.csv').drop('Unnamed: 0', axis=1)
postulantes = pd.read_csv('Sources/postulantes_proc.csv').drop('Unnamed: 0', axis=1)
avisos = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv').drop('Unnamed: 0', axis=1)
test = pd.read_csv('Sources/test_final_100k.csv')
visitas = pd.read_csv('Sources/visitas_proc.csv').drop('Unnamed: 0', axis=1)
preds = pd.DataFrame()

In [3]:
postulaciones = postulaciones.merge(postulantes, on='idpostulante')
postulaciones = postulaciones.merge(avisos, on='idaviso')
postulaciones = postulaciones.merge(visitas, on=['idaviso','idpostulante'], how='left')
media_visitas = np.nanmean(postulaciones.loc[postulaciones['sepostulo']==1,'visito'])
postulaciones.loc[postulaciones['sepostulo']==1,'visito'].fillna(media_visitas,inplace=True)
resultados = postulaciones['sepostulo']
postulaciones.drop(['titulo','descripcion','idaviso','idpostulante','sepostulo'],axis=1, inplace=True)
postulaciones.head()

,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,...,TendenciaSexo,prom_edad,sabados,domingos,ingles,3 anos,2 anos,4 anos,5 anos,visito
0,55.0,FEM,-1,Full-time,Senior / Semi-Senior,Calidad,Abbott Laboratories,82,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
1,31.0,MASC,11,Full-time,Senior / Semi-Senior,Calidad,Abbott Laboratories,82,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
2,34.0,MASC,3,Full-time,Senior / Semi-Senior,Calidad,Abbott Laboratories,82,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
3,27.0,FEM,10,Full-time,Senior / Semi-Senior,Calidad,Abbott Laboratories,82,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
4,26.0,FEM,2,Full-time,Senior / Semi-Senior,Calidad,Abbott Laboratories,82,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN

In [4]:
test = test.merge(postulantes, on='idpostulante')
test = test.merge(avisos, on='idaviso')
test = test.merge(visitas, on=['idaviso','idpostulante'], how='left')
test.drop(['titulo','descripcion','idaviso','idpostulante','id'],axis=1, inplace=True)
test.head()

,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,...,TendenciaSexo,prom_edad,sabados,domingos,ingles,3 anos,2 anos,4 anos,5 anos,visito
0,42.0,FEM,21,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
1,31.0,MASC,9,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
2,36.0,FEM,12,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,NaN,NaN,...,NaN,NaN,0,0,1,0,0,0,0,NaN
3,69.0,MASC,15,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN
4,32.0,FEM,11,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,NaN

In [5]:
test = pd.concat([test,postulaciones])

In [6]:
test['fechanacimiento'].fillna(np.nanmean(test['fechanacimiento']),inplace=True)
test['FEM'].fillna(np.nanmean(test['FEM']),inplace=True)
test['MASC'].fillna(np.nanmean(test['MASC']),inplace=True)
test['NO_DECLARA'].fillna(np.nanmean(test['NO_DECLARA']),inplace=True)
test['prom_edad'].fillna(np.nanmean(test['prom_edad']),inplace=True)
test['FEM'].fillna(np.nanmean(test['FEM']),inplace=True)
lista = ['sabados', 'domingos','ingles', '3 anos', '2 anos', '4 anos', '5 anos', 'visito']
for i in lista:
    test[i].fillna(0,inplace=True)

In [7]:
test.head()

,fechanacimiento,sexo,nivel,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cluster,FEM,MASC,...,TendenciaSexo,prom_edad,sabados,domingos,ingles,3 anos,2 anos,4 anos,5 anos,visito
0,42.0,FEM,21,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,681.674548,439.710842,...,NaN,30.836947,0,0,1,0,0,0,0,0.0
1,31.0,MASC,9,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,681.674548,439.710842,...,NaN,30.836947,0,0,1,0,0,0,0,0.0
2,36.0,FEM,12,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,102,681.674548,439.710842,...,NaN,30.836947,0,0,1,0,0,0,0,0.0
3,69.0,MASC,15,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27,681.674548,439.710842,...,NaN,30.836947,0,0,0,0,0,0,0,0.0
4,32.0,FEM,11,Full-time,Otro,Tecnologia / Sistemas,TeleTech,27,681.674548,439.710842,...,NaN,30.836947,0,0,0,0,0,0,0,0.0

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in test.columns:
    if not test[col].dtype == 'O': continue
    test[col] = test[col].fillna('na')
    le.fit(test[col])
    test[col] = le.transform(test[col])

In [9]:
postulaciones = test[100000:].fillna(-1)
test = test[:100000].fillna(-1)

In [10]:
postulaciones.rename(columns={x:int(y) for x,y in zip(postulaciones.columns,range(1,len(postulaciones.columns)+1))},inplace=True)
test.rename(columns={x:int(y) for x,y in zip(test.columns,range(1,len(test.columns)+1))},inplace=True)

In [11]:
partitions = []
partitions_res = []
n = 5
index = int(postulaciones.shape[0]/n)
for i in range(n):
    partitions.append(postulaciones[index*i:index*(i+1)])
    partitions_res.append(resultados[index*i:index*(i+1)])

In [12]:
aviso = None
postulantes = None
visitas = None

In [13]:
def proba(result):
    prob_1 = []
    for x in result:
        prob_1.append(x[1])
    return prob_1

In [14]:
print('Arranca XG')

import xgboost as xgb
dtrain = xgb.DMatrix(data=partitions[0],label=partitions_res[0])
dtest = xgb.DMatrix(data=partitions[4])
param = {'max_depth':20, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)
preds['XGB'] = bst.predict(dtest)

print('Termino XG')

Arranca XG
Termino XG

In [15]:
print('Arranca RF')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clf=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clf.fit(partitions[1],partitions_res[1])
preds['RF'] = proba(clf.predict_proba(partitions[4]))

print('Termino RF')

Arranca RF
Termino RF

In [16]:
print('Arranca NB')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(partitions[2] ,partitions_res[2])
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
preds['NB'] = proba(nb.predict_proba(partitions[4]))

print('Termino NB')

Arranca NB
Termino NB

In [17]:
print('Arranca PERCEPTRON')

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(partitions[3], partitions_res[3])
preds['PERCEPTRON'] = proba(clf.predict_proba(partitions[4]))

print('Termino PERCEPTRON')

Arranca PERCEPTRON
Termino PERCEPTRON

In [18]:
print('Entreno KNN')

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=25 ,n_jobs=-1, algorithm='auto')
neigh.fit(preds, partitions_res[4])

print('KNN ya esta entrenado')

Entreno KNN
KNN ya esta entrenado

In [19]:
preds.head()

        XGB        RF        NB  PERCEPTRON
0  0.939662  0.603714  0.477862    0.200281
1  0.954823  0.735927  0.477862    0.200281
2  0.998544  0.692747  0.477862    0.200281
3  0.985069  0.811429  0.477862    0.200281
4  0.994120  0.700602  0.477862    0.200281

In [20]:
final = pd.DataFrame()

In [22]:
print('Arranca XGB final')

aviso = None
postulantes = None
import xgboost as xgb
dtrain = xgb.DMatrix(data=postulaciones, label=resultados)
dtest = xgb.DMatrix(data=test)
param = {'max_depth':20, 'eta':1, 'silent':1, 'objective':'binary:logistic', 'subsample':0.8}
num_round = 50
bst = xgb.train(param, dtrain, num_round)
final['XGB'] = bst.predict(dtest)

print('Termino XGB final')

Arranca XGB final

IndexError: invalid index to scalar variable.

In [29]:
print('Arranca RF final')

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
clfr=RandomForestClassifier(n_estimators=50, warm_start=True, criterion='entropy', n_jobs=-1)
clfr.fit(postulaciones,resultados)
final['RF'] = proba(clfr.predict_proba(test))

print('Termino RF final')

Arranca RF final

AttributeError: 'RandomForestClassifier' object has no attribute 'precit_proba'

In [32]:
print('Arranca NB final')

from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(postulaciones, resultados)
BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
final['NB'] = proba(nb.predict_proba(test))

print('Termino NB final')

Arranca NB final
Termino NB final

In [33]:
print('Arranca PPERCEPTRON final')
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(postulaciones, resultados)
final['PERCEPTRON'] = proba(clf.predict_proba(test))

print('Termino PERCEPTRON final')

Arranca PPERCEPTRON final
Termino PERCEPTRON final

In [34]:
final.head()

            XGB   RF        NB  PERCEPTRON
0  4.999293e-08  0.0  0.199370    0.318002
1  3.588827e-06  0.0  0.199370    0.318002
2  4.629230e-06  0.0  0.199370    0.318002
3  4.431283e-08  0.0  0.244178    0.318002
4  2.114742e-07  0.0  0.244178    0.318002

In [36]:
print('Predigo con KNN')

resultado = neigh.predict(final)

print('Termino KNN')

Predigo con KNN
Termino KNN

In [37]:
test = pd.read_csv('Sources/test_final_100k.csv')
test['sepostulo'] = resultado
test.drop(['idaviso','idpostulante'],axis=1,inplace=True)
test.to_csv('Sources/resultado_final_pipe.csv', index=False)