# TP2

In [23]:
import pyspark
from sklearn import preprocessing
import xgboost as xgb
import pandas as pd
import numpy as np

In [24]:
try:
    type(sc)
except NameError:
    sc = pyspark.SparkContext('local[*]')

In [25]:
postulantes = pd.read_csv('Sources/postulantes_proc.csv').drop('Unnamed: 0', axis=1)
avisos = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv').drop('Unnamed: 0', axis=1)
postulaciones = pd.read_csv('Sources/fiuba_4_postulaciones.csv')

In [26]:
postulantes.head()

,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,idpostulante
0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0z5Dmrd
1,0.0,0.0,3.0,0.0,3.0,3.0,1.0,0z5JW1r
2,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0z5VvGv
3,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0zB01pE
4,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0zB026d

In [27]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [28]:
avisos.head()

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,vendedora provincia de santa fe,empresa distribuidor de repuestos automotor ...,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,enfermeras,solicitamos para importante cadena de farmacia...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,chofer de taxi,te gusta manejar queres ganar plata haciendo l...,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,chofer de camioneta bahia blanca punta alta,somos una empresa multinacional que opera en a...,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,operarios de planta rubro electrodomesticos,operarios de planta nos encontramos en la bu...,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [29]:
ds = postulaciones.merge(avisos, on='idaviso')

In [30]:
ds = ds.merge(postulantes, on='idpostulante')

In [31]:
ds['postulo']=1

In [32]:
ds.drop(['fechapostulacion', 'titulo','descripcion'],axis=1, inplace=True)

In [33]:
ds.head()

,idaviso,idpostulante,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,postulo
0,1112248724,NjlD,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1
1,1112248724,MV6eM8N,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,0.0,0.0,0.0,0.0,0.0,3.0,2.0,1
2,1112304156,MV6eM8N,Full-time,Junior,Comunicacion,RH Talentum,0.0,0.0,0.0,0.0,0.0,3.0,2.0,1
3,1112445502,MV6eM8N,Full-time,Senior / Semi-Senior,Comunicacion,Jones Lang LaSalle,0.0,0.0,0.0,0.0,0.0,3.0,2.0,1
4,1112254843,MV6eM8N,Full-time,Senior / Semi-Senior,E-commerce,ASSIST CARD,0.0,0.0,0.0,0.0,0.0,3.0,2.0,1

In [35]:
postulaciones.shape

(4909641, 3)

In [36]:
ds.shape

(5694836, 14)

In [37]:
test = pd.read_csv("Sources/test_final_100k.csv")
test.shape

(100000, 3)

In [38]:
test = test.merge(avisos, on='idaviso')

In [39]:
test = test.merge(postulantes, on='idpostulante')

In [40]:
test.drop(['titulo','descripcion'],axis=1, inplace=True)

In [41]:
test.head()

,id,idaviso,idpostulante,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario
0,0,739260,6M9ZQR,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,3.0,0.0,0.0,0.0,0.0,0.0,3.0
1,1,739260,6v1xdL,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,0.0,0.0,3.0,0.0,0.0,3.0,0.0
2,2,739260,ezRKm9,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,3,758580,1Q35ej,Full-time,Otro,Tecnologia / Sistemas,TeleTech,0.0,0.0,0.0,3.0,0.0,0.0,3.0
4,4,758580,EAN4J6,Full-time,Otro,Tecnologia / Sistemas,TeleTech,0.0,0.0,0.0,0.0,0.0,2.0,2.0

In [42]:
test.shape

(107546, 14)

In [18]:
postulantes = postulantes.merge(test, on='idpostulante')

In [19]:
postulantes.head()

,Doctorado_x,Master_x,Otro_x,Posgrado_x,Secundario_x,Terciario/Técnico_x,Universitario_x,idpostulante,id,idaviso,...,nivel_laboral,nombre_area,denominacion_empresa,Doctorado_y,Master_y,Otro_y,Posgrado_y,Secundario_y,Terciario/Técnico_y,Universitario_y
0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0z5Dmrd,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,3.0
1,0.0,0.0,3.0,0.0,3.0,3.0,1.0,0z5JW1r,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,3.0,0.0,3.0,3.0,1.0
2,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0z5VvGv,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,3.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0zB01pE,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,3.0,1.0
4,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0zB026d,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,3.0,3.0,0.0