In [1]:
import pandas as pd

In [9]:
postulantes_new = pd.read_csv('Sources/postulantes_proc.csv')
postulantes_old = pd.read_csv('Sources/fiuba_1_postulantes_educacion_concat.csv')
avisos_new = pd.read_csv('Sources/fiuba_6_avisos_detalle_15.csv')
avisos_old = pd.read_csv('Sources/fiuba_6_avisos_detalle.csv')
avisos_con = pd.read_csv('Sources/fiuba_6_avisos_detalle_limpio.csv')

In [10]:
postulantes_new.loc[postulantes_new['idpostulante']=='1Q35ej',:]

,Unnamed: 0,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,idpostulante
12836,12836,0.0,0.0,0.0,3.0,0.0,0.0,3.0,1Q35ej

In [7]:
postulantes_old.loc[postulantes_old['idpostulante']=='1Q35ej',:]

        Unnamed: 0 idpostulante         nombre    estado
115420      115420       1Q35ej       Posgrado  Graduado
115421      115421       1Q35ej  Universitario  Graduado

In [52]:
avisos_old.loc[avisos_old['idaviso']==739260,:]

Empty DataFrame
Columns: [idaviso, idpais, titulo, descripcion, nombre_zona, ciudad, mapacalle, tipo_de_trabajo, nivel_laboral, nombre_area, denominacion_empresa]
Index: []

In [53]:
avisos_new.loc[avisos_new['idaviso']==739260,:]

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
8448,739260,1,Asistente Comercial,Nuestro cliente es una empresa nac. ubicada en...,Capital Federal,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA

In [54]:
avisos_con.loc[avisos_con['idaviso']==739260,:]

,Unnamed: 0,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
21982,21982,739260,asistente comercial,nuestro cliente es una empresa nac ubicada en ...,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA